body {
    background-image: url(../images/triviabackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.backscreen {
    margin: auto;
    width: 80%;
    overflow-y: scroll;
    background-color: bisque;
}

.navbar-text {
    font-size: 5rem;
    color: rgba(129, 7, 7, 0.829) !important;
    
}

.headerRow {
    border-bottom: 2px solid black;  
}

.card50 {
    border: 2px solid salmon;
}

.jumbotron {
    background: repeating-linear-gradient(30deg, black 0px, rgba(129, 7, 7, 0.829) 40px, bisque 40px);
    color: rgb(238, 177, 33);
    font-size: 25px;
}

